@import "tailwindcss";


@font-face {
  font-family: 'Bandeins Strange Variable';
  src: url('/fonts/BandeinsStrangeVariable.ttf') format('truetype');
  font-weight: 1 1000;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

:root {
  overflow-x: hidden;
}


/* Set global font */
html {
  font-family: 'Bandeins Strange Variable', sans-serif;
}

/* html, body {
  height: 100%;
  overflow-x: hidden;
} */

.sub-heading {
  font-family: 'Almarai', sans-serif;
}

body {
  font-family: 'Bandeins Strange Variable', sans-serif;
  padding: 0%;
  margin: 0%;
}


/* :root {
  --background: #ffffff;
  --foreground: #000000;
} */


